### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [193]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "D:\\Repos1\\gwu-arl-data-pt-09-2020-u-c\\02-Homework\\04-Python-Pandas\\02-Case-Assignment\\Instructions\\HeroesOfPymoli\\Resources\\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
bootcamp_data = pd.read_csv(file_to_load)
bootcamp_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = purchase_data['SN'].nunique()
playercount = pd.DataFrame({'Total Players': [player_count]})
playercount

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
items = purchase_data['Item Name'].nunique()
avepx = pd.to_numeric(purchase_data['Price'].mean())
purchases = purchase_data["Purchase ID"].nunique()
revenue = (avepx * purchases)
summary = pd.DataFrame({'No. of Unique Items': [items], 'Average Price': "${:.2f}".format(avepx), 'No. of Purchases': [purchases], 'Total Revenue': "${:,.2f}".format(revenue)})
summary

   No. of Unique Items Average Price  No. of Purchases Total Revenue
0                  179         $3.05               780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [34]:
count_f = purchase_data.loc[purchase_data["Gender"] == "Female","SN"].nunique()
count_m = purchase_data.loc[purchase_data["Gender"] == "Male","SN"].nunique()
count_o = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed","SN"].nunique()  
percent_f = (count_f/player_count)*100
percent_m = (count_m/player_count)*100
percent_o = (count_o/player_count)*100
demographics = pd.DataFrame({'Total Count': [count_m,count_f,count_o],'Percentage of Players': ["{:.2f}%".format(percent_m), "{:.2f}%".format(percent_f),"{:.2f}%".format(percent_o)]})
demographics = demographics.rename(index = {0 :'Male',1:'Female',2:'Other / Non-Disclosed'})
demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [117]:
#purchase count
purch_f = purchase_data.loc[purchase_data["Gender"] == "Female","Purchase ID"].nunique()
purch_m = purchase_data.loc[purchase_data["Gender"] == "Male","Purchase ID"].nunique()
purch_o = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed","Purchase ID"].nunique()

#total purchase value
totalval_f = purchase_data.loc[purchase_data["Gender"] == "Female","Price"].sum(axis=0)
totalval_m = purchase_data.loc[purchase_data["Gender"] == "Male","Price"].sum(axis=0)
totalval_o = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed","Price"].sum(axis=0)

#ave price                                       
avepx_f = totalval_f/purch_f
avepx_m = totalval_m/purch_m 
avepx_o = totalval_o/purch_o

#total unique persons per gender
f_no = purchase_data.loc[purchase_data["Gender"] == "Female","SN"].nunique()
m_no = purchase_data.loc[purchase_data["Gender"] == "Male","SN"].nunique()
o_no = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed","SN"].nunique()

#avg total purch per person per gender
f_purch = totalval_f/f_no
m_purch = totalval_m/m_no
o_purch = totalval_o/o_no

 
summary2 = pd.DataFrame({"Gender" : ["Female", "Male", "Other / Non-Disclosed"],
                        "Purchase Count": [purch_f, purch_m,purch_o], 
                         "Average Purchase Price": ["${:.2f}".format(avepx_f),"${:.2f}".format(avepx_m),"${:.2f}".format(avepx_o)],
                        "Total Purchase Value": ["${:.2f}".format(totalval_f), "${:.2f}".format(totalval_m),"${:.2f}".format(totalval_o)],
                        "Ave Purchase per Person": ["${:.2f}".format(f_purch),"${:.2f}".format(m_purch),"${:.2f}".format(o_purch)]})
summary2 = summary2.set_index("Gender")
summary2

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [161]:
#Establish bins for ages
agebins = [0,10,15,20,25,30,35,40,100]
binlabels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

#Categorize the existing players using the age bins.
purchase_data['Ages'] = pd.cut(purchase_data['Age'], agebins, labels=binlabels, include_lowest=True, right=False)


#Count per bin
less10 = purchase_data.loc[purchase_data['Ages'] == '<10', 'SN'].nunique()
less14 = purchase_data.loc[purchase_data['Ages'] == '10-14', 'SN'].nunique()
less19 = purchase_data.loc[purchase_data['Ages'] == '15-19', 'SN'].nunique()
less24 = purchase_data.loc[purchase_data['Ages'] == '20-24', 'SN'].nunique()
less29 = purchase_data.loc[purchase_data['Ages'] == '25-29', 'SN'].nunique()
less34 = purchase_data.loc[purchase_data['Ages'] == '30-34', 'SN'].nunique()
less39 = purchase_data.loc[purchase_data['Ages'] == '35-39', 'SN'].nunique()
abv40 = purchase_data.loc[purchase_data['Ages'] == '40+', 'SN'].nunique()

#Percentage per bin
pct10 = (less10/player_count)*100
pct14 = (less14/player_count)*100
pct19 = (less19/player_count)*100
pct24 = (less24/player_count)*100
pct29 = (less29/player_count)*100
pct34 = (less34/player_count)*100
pct39 = (less39/player_count)*100
pct40 = (abv40/player_count)*100

agesummary = pd.DataFrame({'Total Count': [less10, less14,less19, less24, less29, less34, less39, abv40],
                          'Percentage of Players': ["{:.2f}%".format(pct10), "{:.2f}%".format(pct14),
                           "{:.2f}%".format(pct19),"{:.2f}%".format(pct24),"{:.2f}%".format(pct29),"{:.2f}%".format(pct34),
                           "{:.2f}%".format(pct39),"{:.2f}%".format(pct40)]})
agesummary = agesummary.rename(index = {0 :'<10',1:'10-14',2:'15-19',3: '20-24',4:'25-29',5:'30-34',6:'35-39',7:'40+'})
agesummary

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [156]:
#purchase count by bin
purch10 = purchase_data.loc[purchase_data['Ages'] == '<10', 'Purchase ID'].nunique()
purch14 = purchase_data.loc[purchase_data['Ages'] == '10-14', 'Purchase ID'].nunique()
purch19 = purchase_data.loc[purchase_data['Ages'] == '15-19', 'Purchase ID'].nunique()
purch24 = purchase_data.loc[purchase_data['Ages'] == '20-24', 'Purchase ID'].nunique()
purch29 = purchase_data.loc[purchase_data['Ages'] == '25-29', 'Purchase ID'].nunique()
purch34 = purchase_data.loc[purchase_data['Ages'] == '30-34', 'Purchase ID'].nunique()
purch39 = purchase_data.loc[purchase_data['Ages'] == '35-39', 'Purchase ID'].nunique()
purch40 = purchase_data.loc[purchase_data['Ages'] == '40+', 'Purchase ID'].nunique()

#total purchase value
tot10 = purchase_data.loc[purchase_data['Ages'] == '<10','Price'].sum(axis=0)
tot14 = purchase_data.loc[purchase_data['Ages'] == '10-14','Price'].sum(axis=0)
tot19 = purchase_data.loc[purchase_data['Ages'] == '15-19','Price'].sum(axis=0)
tot24 = purchase_data.loc[purchase_data['Ages'] == '20-24','Price'].sum(axis=0)
tot29 = purchase_data.loc[purchase_data['Ages'] == '25-29','Price'].sum(axis=0)
tot34 = purchase_data.loc[purchase_data['Ages'] == '30-34','Price'].sum(axis=0)
tot39 = purchase_data.loc[purchase_data['Ages'] == '35-39','Price'].sum(axis=0)
tot40 = purchase_data.loc[purchase_data['Ages'] == '40+','Price'].sum(axis=0)

#ave purch px by bin
px10 = tot10/purch10
px14 = tot14/purch14
px19 = tot19/purch19
px24 = tot24/purch24
px29 = tot29/purch29
px34 = tot34/purch34
px39 = tot39/purch39
px40 = tot40/purch40

#avg total purch per person per bin
avg10 = tot10/less10
avg14 = tot14/less14
avg19 = tot19/less19
avg24 = tot24/less24
avg29 = tot29/less29
avg34 = tot34/less34
avg39 = tot39/less39
avg40 = tot40/abv40

#dataframe
purchsummary = pd.DataFrame({'Purchase Count': [purch10, purch14, purch19, purch24, purch29, purch34, purch39, purch40],
                            'Average Purchase Price': ["${:.2f}".format(px10), "${:.2f}".format(px14), "${:.2f}".format(px19), "${:.2f}".format(px24), "${:.2f}".format(px29), "${:.2f}".format(px34), "${:.2f}".format(px39), "${:.2f}".format(px40)],
                            'Total Purchase Value': [ "${:.2f}".format(tot10), "${:.2f}".format(tot14), "${:.2f}".format(tot19), "${:.2f}".format(tot24), "${:.2f}".format(tot29), "${:.2f}".format(tot34),"${:.2f}".format(tot39), "${:.2f}".format(tot40)],
                            'Avg Total Purchase per Person': [ "${:.2f}".format(avg10), "${:.2f}".format(avg14), "${:.2f}".format(avg19), "${:.2f}".format(avg24), "${:.2f}".format(avg29), "${:.2f}".format(avg34), "${:.2f}".format(avg39), "${:.2f}".format(avg40)],
                            'Age Ranges':['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']})
#set index
purchsummary = purchsummary.set_index('Age Ranges')
purchsummary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [192]:
spenders = purchase_data[['SN','Price']]
spender_group = spenders.groupby(['SN']) 
spender_size = spenders.groupby(['SN']).size()
#result = grouped['tip_pct', 'total_bill'].agg(functions)
#spendercount = spender_group['SN'].agg('count')
spenderssummary = pd.DataFrame([spender_group, spender_size])
spenderssumary.head()
#spenders_stats = spenders_group.mean()
#spender_group.tail()
#spendersummary.sort_index(by='SN')

NameError: name 'spenderssumary' is not defined

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80